*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
    background-color: #1C1C1C;
    font-family: 'Roboto';
}

main {
    min-height: calc(100vh - 144px);
}

.logo-box {
    margin: 80px auto 54px;
    width: fit-content;
}

.sign-box {
    margin: 80px auto 16px;
    width: fit-content;
}

.sign-box__el {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4);
}

.search__string {
    margin: 0 auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.search__string-container {
    display: flex;
    border-bottom: 2px solid rgba(255, 255, 255, 1);
    height: 74px;
    width: 628px;
    align-items: center;
    justify-content: center;
}

.search__string-container__input {
    padding-left: 14px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    width: 460px;
    background-color: inherit;
    border: none;
    margin-top: 2px;
    font-family: 'Roboto';
    font-weight: 300;
}

.search__string-container__input::placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-family: 'Roboto';
}


.search__string-container__input:focus, .search__string-container__input:focus-visible {
    outline:none;
}

.search__string-container__img {
    width: 28px;
    height: 28px;
}

.search__string__history {
    margin-top: 24px;
    display: none;
}

.search__string__history__button {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 6px 16px;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    margin: 0 8px 8px 0;
    font-size: 16px;
    font-family: 'Roboto';
}

.search__string__history__button:hover {
    background-color: #FFFFFF;
    cursor: pointer;
}

.search_active .search__string-container {
    border-bottom: 2px solid rgba(253, 206, 37, 1);
    width: calc(100vw - 160px);
    justify-content: space-between;
}

.search_active .search__string__history {
    display: block;
    max-width: 1280px;
}

.search_live .search__string-container {
    border-bottom: 2px solid rgba(253, 206, 37, 1);
    width: calc(100vw - 160px);
    justify-content: space-between;
}

.search_live .search__string__history {
    display: block;
    max-width: 1280px;
}

.search__empty {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 900;
}

.search__results__text {
    display: none;
    color: rgb(255, 255, 255);
    font-size: 36px;
    font-weight: 900;
}

.search_live .search__results__text {
    display: block;
    margin: 100px 80px 0;
}

.search_not_found .search__empty {
    display: block;
    margin: 100px 80px 0;
}

.search_not_found .search__string-container {
    border-bottom: 2px solid rgba(253, 206, 37, 1);
    width: calc(100vw - 160px);
    justify-content: space-between;
}

.search_not_found .search__string__history {
    display: block;
    max-width: 1280px;
}

.search__results {
    display: none;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 24px;
    row-gap: 24px;
    width: calc(100vw - 160px);
    margin: 36px auto 0;
}

.search__results__item {
    background-color: rgba(255, 255, 255, 0.24);
    height: 454px;
    width: 302px;
    border-radius: 12px;
    color: rgba(255, 255, 255, 0.24);
}

.search_live .search__results {
    display: grid;
}

.scroll .search__results {
    display: grid;
}

.search__results__item_nodownloaded-item1 {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    width: 246px;
    height: 24px;
    margin: 330px 36px 8px 20px;
}

.search__results__item_nodownloaded-item2 {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 2px;
    width: 156px;
    height: 24px;
    margin: 0 126px 68px 20px;
}

.search__results__item_textonly-title {
    color: rgba(255, 255, 255, 0.24);
    font-size: 24px;
    font-weight: 700;
    width: 236px;
    height: 36px;
    margin: 362px 0px 12px 20px;
}

.search__results__item_textonly-genre_2 {
    display: inline-block;
    font-size: 16px;
    margin: 0 46px 20px 20px;
    width: 168px;
}

.search__results__item_textonly-year_2 {
    display: inline-block;
    font-size: 16px;
    margin: 0 20px 20px 0;
}

.search__string-container__svg {
    width: 30px;
    height: 30px;
    background: url("img/Vector.png");
    display: none;
}

.search_live .search__string-container__svg {
    display: block;
}

.search_not_found .search__string-container__svg {
    display: block;
}

.search__string-container__svg:hover {
    background: url("img/Vector_hv.png");
    cursor: pointer;
}

.scroll .search__string {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

.scroll .search__string-container {
    background-color: rgba(28, 28, 28, 0.8);
    padding: 0 88px;
    width: 100%;
    border-color: white;
    justify-content: space-between;
}

.scroll .search__string-container__svg {
    display: block;
}

.search__results__item__pic {
    position: absolute;
}

.search__results__item__inf {
    position: relative;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.43%, rgba(0, 0, 0, 0.8) 72.41%);
}

.search__results__item:hover .search__results__item__inf {
    display: flex;
    cursor: pointer;
}

.search__results__item_textonly-genre_1 {
    display: inline-block;
    font-size: 16px;
    margin: 0 46px 20px 20px;
    width: 168px;
    padding-top: 16px;
}

.search__results__item_textonly-year_1 {
    display: inline-block;
    font-size: 16px;
    margin: 0 20px 20px 0;
}

.search__results__item_textonly-note {
    margin: 280px 220px 0 20px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
}

.search__results__item_textonly-name {
    margin: 4px 24px 0 20px;
    font-weight: 700;
    font-size: 24px;
    color: rgba(255, 255, 255, 1);
}
