*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #1C1C1C;
  font-family: 'Roboto'; }

main {
  min-height: calc(100vh - 277px); }

.logo-box {
  margin: 80px auto 54px;
  width: fit-content;
  overflow: hidden; }

.sign-box {
  margin: 80px auto 16px;
  width: fit-content; }
  .sign-box__el {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.4); }

.search-container {
  margin: 0 auto;
  width: fit-content;
  display: flex;
  flex-direction: column; }
  .search-container__history {
    margin-top: 24px;
    display: none;
    max-width: 1280px; }
  .search-container__button {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    padding: 6px 16px;
    color: rgba(0, 0, 0, 0.8);
    border: none;
    margin: 0 8px 8px 0;
    font-size: 16px;
    font-family: 'Roboto'; }
    .search-container__button:hover {
      background-color: #FFFFFF;
      cursor: pointer; }

.search-string {
  display: flex;
  border-bottom: 2px solid #FFF;
  height: 74px;
  width: 628px;
  align-items: center;
  justify-content: center; }
  .search-string__input {
    padding-left: 14px;
    color: #FFF;
    font-size: 24px;
    width: 470px;
    background-color: inherit;
    border: none;
    margin-top: 2px;
    font-family: 'Roboto';
    font-weight: 300; }
    .search-string__input::-webkit-search-cancel-button {
      -webkit-appearance: none;
      content: url("/img/Vector.png");
      cursor: pointer; }
    .search-string__input::-webkit-search-cancel-button:hover {
      content: url("/img/Vector_hv.png"); }
    .search-string__input::placeholder {
      color: rgba(255, 255, 255, 0.4);
      font-family: 'Roboto'; }
    .search-string__input:focus, .search-string__input:focus-visible {
      outline: none; }
  .search-string__img {
    width: 28px;
    height: 28px; }
  .search-string__content {
    display: flex; }
  .search-string__svg {
    width: 30px;
    height: 30px;
    background: url("img/Vector.png");
    display: none; }
    .search-string__svg:hover {
      background: url("img/Vector_hv.png");
      cursor: pointer; }

.search_active .search-string {
  border-bottom: 2px solid #fdce25;
  width: calc(100vw - 160px);
  justify-content: space-between; }
  .search_active .search-string__input {
    width: 1260px; }

.search_active .search-container__history {
  display: block; }

.search_live .search-string {
  border-bottom: 2px solid #fdce25;
  width: calc(100vw - 160px);
  justify-content: space-between; }
  .search_live .search-string__input {
    width: 1260px; }

.search_live .search-container__history {
  display: block; }

.search_live .search-results__text {
  display: block; }

.search_live .search-string__svg {
  display: block; }

.search_live .search-results {
  display: grid; }

.search-empty {
  display: none;
  color: #FFF;
  font-size: 36px;
  font-weight: 900;
  margin: 100px 80px 0; }

.search_not_found .search-empty {
  display: block; }

.search_not_found .search-string {
  border-bottom: 2px solid #fdce25;
  width: calc(100vw - 160px);
  justify-content: space-between; }
  .search_not_found .search-string__input {
    width: 1260px; }

.search_not_found .search-container__history {
  display: block; }

.search_not_found .search-string__svg {
  display: block; }

.search-results {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 24px;
  width: calc(100vw - 160px);
  margin: 36px auto 0; }
  .search-results__text {
    display: none;
    color: #FFF;
    font-size: 36px;
    font-weight: 900;
    margin: 100px 80px 0; }

.result-item {
  background-color: rgba(255, 255, 255, 0.24);
  height: 454px;
  width: 302px;
  border-radius: 12px;
  color: rgba(255, 255, 255, 0.24); }
  .result-item__poster {
    position: absolute;
    width: 302px;
    height: 454px;
    border-radius: 0; }
  .result-item__inf {
    display: none;
    height: 100%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 280px 20px 0;
    position: relative;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 26.43%, rgba(0, 0, 0, 0.8) 72.41%); }
    .result-item__inf__name {
      font-weight: 700;
      font-size: 24px;
      color: #FFF;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      align-self: center; }
    .result-item__inf__note {
      color: #FFF;
      font-size: 24px;
      align-self: center; }
    .result-item__inf__genre {
      display: inline-block;
      font-size: 16px;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 3;
      align-self: center; }
    .result-item__inf__year {
      display: inline-block;
      font-size: 16px;
      text-align: end;
      grid-column-start: 2;
      grid-row-start: 3;
      align-self: center; }
  .result-item:hover .result-item__poster {
    border-radius: 12px; }
  .result-item:hover .result-item__inf {
    display: grid;
    cursor: pointer; }

.nodownloaded-result-item__name {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
  width: 246px;
  height: 24px;
  margin: 330px 36px 8px 20px; }

.nodownloaded-result-item__genre {
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 2px;
  width: 156px;
  height: 24px;
  margin: 0 126px 68px 20px; }

.textresult-item__name {
  color: rgba(255, 255, 255, 0.24);
  font-size: 24px;
  font-weight: 700;
  width: 236px;
  height: 36px;
  margin: 362px 0px 12px 20px; }

.textresult-item__genre {
  display: inline-block;
  font-size: 16px;
  margin: 0 46px 20px 20px;
  width: 168px; }

.textresult-item__year {
  display: inline-block;
  font-size: 16px;
  margin: 0 20px 20px 0; }

.scroll .search-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 3; }

.scroll .search-string {
  background-color: rgba(28, 28, 28, 0.8);
  padding: 0 88px;
  width: 100%;
  border-color: #FFF;
  justify-content: space-between; }
  .scroll .search-string__input {
    width:1260px; }

.scroll .search-string__svg {
  display: block; }

.scroll .search-results {
  display: grid; }
